use flake .#default

export PROJECT_ROOT="$(git rev-parse --show-toplevel)"

export PDK_ROOT="/usr/local/share/pdk/ciel/ciel/sky130/versions/$(ls -t /usr/local/share/pdk/ciel/ciel/sky130/versions/ | head -1)"
export PDK="sky130A"

# export XSCHEM_LIBRARY_PATH=$XSCHEM_LIBRARY_PATH:$PROJECT_ROOT
export XSCHEM_SHAREDIR=$(dirname $(dirname $(which xschem)))/share/xschem

export KLAYOUT_HOME=$PDK_ROOT/$PDK/libs.tech/klayout

source $PROJECT_ROOT/.config/.aliases
